@import "../../../../../../style/variable.scss";
.atualizarReconfirmacao {
  display: flex;
  width: 98%;
  margin-top: 40px;
  border: 1px solid $rosa;
  margin-left: 20px;
}
.atualizarReconfirmacao .opcoes {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0px;
}
.atualizarReconfirmacao .formBi {
  display: flex;
  background-color: $rosa;
  padding: 10px 0px;
}
.atualizarReconfirmacao th {
  background-color: $rosa;
  border: none;
}
.atualizarReconfirmacao td {
  font-size: 11pt;
  border: none;
  text-align: center;
}
.atualizarReconfirmacao .pagamento-propina {
  display: flex;
  width: 50%;
  margin: auto;
  align-items: center;
  margin-top: 20px;
}

.atualizarReconfirmacao .pagamento-propina input {
  border: 2px solid $rosa;
  border-radius: 10px;
  padding: 10px;
}
.atualizarReconfirmacao .pagamento-propina input::placeholder {
  font-size: 12pt;
}
.atualizarReconfirmacao .opcoes .cc {
  width: 50%;
  align-items: center;
  color: $white;
}
