@import "../../../../../style/variable.scss";
.propina {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.propina .conteudoProp {
  display: flex;
  flex-direction: column;
  width: 99%;
  margin: auto;
  align-items: center;
  margin-top: 20px;
}
.conteudoProp .formBiPropina {
  display: flex;
  width: 100%;
  background-color: #a31543;
  padding-top: 4px;
  color: $white;
}

.conteudoProp .formBiPropina .space {
  margin-right: 10%;
}

.conteudoProp .formBiPropina .inpform1 {
  width: 100px;
  border-radius: 5px;
  color: $preto;
}
.propina .form {
  width: 100%;
  margin: auto;
  flex-direction: column;
}

.propina hr {
  width: 99%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.propina .pagamento-propina {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

.propina select {
  width: 130px;
  height: 30px;
  font-size: 14pt;
}
// .propina .dados-estudantePropina input {
//   width: 90%;
//   height: 30px;
//   font-size: 14pt;
//   padding: 0px 8px;
//   border-radius: 5px;
//   border: none;
// }
.propina .dados-estudantePropina label {
  display: flex;
  width: 100%;
  font-size: 12pt;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.propina .dados-estudantePropina {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 10px;
}

// .propina .dados-estudantePropina input {
//   display: flex;
//   width: 90%;
//   margin-right: 10px;
//   margin-bottom: 10px;
//   font-size: 14pt;
//   margin-left: 10px;
// }
.propina .btn {
  width: 30%;
  padding: 10px;
  border: none;
  color: #fff;
  background-color: #a31543;
  font-size: 14pt;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  opacity: 0.8;
  margin-bottom: 10px;
}
.propina .btn:hover {
  opacity: 1;
}

@media (max-width: 800px) {
  .cc {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .propina .btn {
    width: 70%;
  }
  .propina .dados-estudantePropina {
    display: flex;
    flex-direction: column;
    width: 97%;
    margin: auto;
    margin-top: 0px;
  }
}

@media (max-width: 236px) {
  .propina .propina .conteudoProp .formBiPropina label {
    flex-direction: row;
    background-color: #fff;
  }
}
