@import "../../../../../style/variable.scss";

.conteudo-cadeira {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.conteudo-cadeira hr {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.conteudo-cadeira .dados-estudante button {
  width: 30%;
  padding: 10px;
  border: none;
  color: #fff;
  background-color: #a31543;
  font-size: 14pt;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .conteudo-cadeira .btn {
    width: 80%;
  }
}
