@import "../../../../../style/variable.scss";
.config {
  display: flex;
  width: 100%;
  position: relative;
}

.config .menu {
  display: flex;
  flex-direction: column;
  width: 15%;
  //   padding: 10px 0px;
  padding-left: 7px;
  padding-bottom: 20px;
  background-color: $houverM;
  text-align: left;
  height: auto;
  gap: 3px;
}
.config .menu li {
  width: 100%;
  align-items: start;
}
.config .menu .link {
  display: flex;
  width: 100%;
  color: $preto;
  opacity: 1;
}
.config .menu .ativo {
  display: flex;
  background-color: $rosa;
  width: 100%;
  color: $white;
  opacity: 1;
  padding: 4px 0px;
}
.config .menu .link:hover {
  width: 100%;
  background-color: $sizaclaro;
}
.config .painel {
  width: 83%;
  margin-left: 10px;
}
