@import "../../../../../../style/variable.scss";
.atualizarCadeira {
  display: flex;
  width: 98%;
  margin-top: 20px;
  border: 1px solid $rosa;
  margin-left: 20px;
}
.atualizarCadeira .opcoes {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0px;
}
.atualizarCadeira th {
  background-color: $rosa;
  border: none;
}
.atualizarCadeira td {
  font-size: 11pt;
  border: none;
  text-align: center;
}
.atualizarCadeira .pagamento-Cadeira {
  display: flex;
  width: 50%;
  margin: auto;
  align-items: center;
  margin-top: 20px;
}

.atualizarCadeira .pagamento-Cadeira input {
  border: 2px solid $rosa;
  border-radius: 10px;
  padding: 10px;
}
.atualizarCadeira .pagamento-Cadeira input::placeholder {
  font-size: 12pt;
}
.atualizarCadeira .opcoes .ccCadeira {
  color: $white;
}
.atualizarCadeira .opcoes .ccCadeira label {
  display: flex;
  flex-direction: column;
  color: "#fff";
}
.atualizarCadeira .opcoes .ccCadeira select {
  width: 120px;
  font-size: 14pt;
}
