@import "../../../../../../../style/variable.scss";
.atualizarCurso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.atualizarCurso form button {
  display: flex;
  width: 150px;
  margin: auto;
  padding: 10px;
  font-size: 14pt;
  color: $white;
  background-color: $rosa;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 7px;
  gap: 4px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

table {
  width: 60%;
  border-collapse: collapse;
}
table td,
th {
  border: 1px solid #000;
}
.atualizarCurso {
  margin-top: 20px;
}
