@import "../../../../../../../style/variable.scss";
.atualizarCurso form button {
  display: flex;
  width: 150px;
  margin: auto;
  padding: 10px;
  font-size: 14pt;
  color: $white;
  background-color: $rosa;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 7px;
  gap: 4px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.atualizarCurso table th {
  background-color: $rosa;
  border: none;
}
.atualizarCurso table td {
  border: none;
  border-bottom: 1px solid #000;
}
.atualizarCurso {
  margin-top: 20px;
}
