@import "../../../../../style/variable.scss";
.container-sobreCadeira {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.conteudo-exame {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.conteudo-exame .form {
  width: 100%;
  margin: auto;
}

.conteudo-exame hr {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.select {
  width: 70px;
  height: 24px;
  font-size: 14pt;
}
.dados-estudante label {
  display: flex;
  width: 100%;
  font-size: 12pt;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.conteudo-exame .dados-estudante input {
  width: 40%;
  height: 30px;
  margin: auto;
  margin-bottom: 10px;
  font-size: 14pt;
}

.conteudo-exame .dados-estudante {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: auto;
  margin-top: 10px;
}

.conteudo-exame .input {
  width: 400px;
  height: 30px;
  margin-right: 10px;
  margin: auto;
  margin-bottom: 10px;
  font-size: 14pt;
  margin-left: 10px;
}

.conteudo-exame .btn {
  width: 30%;
  padding: 10px;
  border: none;
  color: #fff;
  background-color: #a31543;
  font-size: 14pt;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  opacity: 0.8;
}

@media (max-width: 500px) {
  .conteudo-exame .dados-estudante input {
    width: 90%;
  }
  .conteudo-exame .btn {
    width: 80%;
  }
}
