@import "../../../../../../../style/variable.scss";

.space select {
  font-size: 12pt;
  border: 2px solid #a31543;
  padding: 4px;
  width: 150px;
}
.space label {
  align-items: center;
  justify-content: center;
  gap: 10px;
}
