.container-declaracao {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container-declaracao .conteudo-declaracao {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: auto;
  align-items: center;
  margin-top: 40px;
  justify-content: center;
}

.conteudo-declaracao hr {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.conteudo h1,
h2 {
  color: #a31543;
  margin-bottom: 20px;
}
.conteudo-declaracao h1,
select {
  margin-bottom: 10px;
}

.conteudo .dados-estudante {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: auto;
  margin-top: 10px;
}

.conteudo-declaracao .btn {
  width: 30%;
  padding: 10px;
  border: none;
  color: #fff;
  background-color: #a31543;
  font-size: 14pt;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  opacity: 0.8;
}
.conteudo-declaracao .btn:hover {
  opacity: 1;
}
