.menuConfig {
  display: flex;
  width: 100%;
}
.menuConfig ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0px 0px 0px 4px;
}
.menuConfig ul .li {
  display: flex;
  width: 100%;
  color: #000;
  font-weight: 200;
  height: 30px;
  text-align: center;
  padding: 0px 0px 0px 10px;
  align-items: center;
  gap: 10px;
  font-size: 11pt;
  margin-bottom: 4px;
}
.menuConfig ul a {
  display: flex;
  width: 100%;
  color: #000;
  font-weight: 200;
  opacity: 1;
  position: relative;
}
.menuConfig ul a .isEme,
.isPr,
.isDp,
.isFr,
.isSm,
.isAno,
.isCurso,
.isMes,
.isCda,
.isApr,
.isRC {
  background-color: #f1cfda;
  display: flex;
  width: 100%;
  color: #000;
  font-weight: 200;
  height: 30px;
  text-align: center;
  padding: 0px 0px 0px 10px;
  align-items: center;
  gap: 10px;
  opacity: 1;
  font-size: 11pt;
  margin-bottom: 4px;
  opacity: 1;
  position: relative;
}

.menuConfig ul a li:hover {
  background-color: #f7e4ea;
  color: #000;
  font-weight: 200;
  opacity: 1;
  font-size: 11pt;
}
.menuConfig ul a .isEme::before,
.isPr::before,
.isDp::before,
.isFr::before,
.isSm::before,
.isAno::before,
.isCurso::before,
.isMes::before,
.isCda::before,
.isApr::before,
.isRC::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #a31543;
  left: 0;
}
