@import "../../../../../style/variable.scss";
.container-servico {
  display: flex;
  width: 100%;
  height: 90vh;
  flex-direction: column;
  color: #a31543;
  background-color: #ddff;
}

.conteudo-recurso {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-top: 10px;
}

.conteudo-recurso .dados-estudante button {
  display: flex;
  background-color: #a31543;
  margin: auto;
  font-size: 14pt;
  margin-top: 20px;
}
@media (max-width: 500px) {
  .servicos {
    flex-wrap: nowrap;
    flex-direction: column;
    margin-left: 0px;
  }

  .servicos .tipoServico {
    flex-direction: column;
    width: 90%;
  }
}
