@import "../../../../../../../style/variable.scss";
.atualizar form button {
  background-color: $rosa;
  width: 30%;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}
.atualizar form div {
  display: flex;
  margin: auto;
}
.atualizar table th {
  background-color: $rosa;
}
