@import "../../../style/variable.scss";

.container-editarComentarioPublicacao {
  width: 100%;
  padding: 70px 0px 0px 0px;
}

.container-editarComentarioPublicacao form {
  width: 90%;
  background-color: $white;
  margin: auto;
  padding: 4px;
}
.container-editarComentarioPublicacao form textarea {
  width: 90%;
  height: 100px;
  background-color: $white;
  border: 1px solid $preto;
  color: $preto;
  font-size: 14pt;
  resize: none;
  border-radius: 10px;
  padding: 7px;
}
.container-editarComentarioPublicacao form button {
  background-color: green;
}
.container-editarComentarioPublicacao form button:hover {
  opacity: 1;
  scale: 0.9;
  background-color: #0f0;
}
