.container-lerComentario {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
  color: #000;
  overflow-y: auto;
}
.container-lerComentario .conteudos-comentarios {
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  flex-direction: column;
  text-align: left;
  font-size: 20pt;
  background-image: url(Textura1.png);
  background-size: 70px;
  border: 2px solid #eadcdc;
  /* margin-top: 4px; */
}
.container-lerComentario .publicacao-comentarios {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
}

.container-lerComentario .publicacao-comentarios .publicacao_user {
  width: 93%;
  border: 2px solid #eadcdc;
  margin-top: 20px;
  text-align: left;
  font-size: 18pt;
  word-wrap: break-word;
  color: #000;
}

.container-lerComentario .barra {
  display: flex;
  gap: 10;
}

a {
  opacity: 1;
  color: #00f;
  font-size: 14pt;
  margin-top: 10px;
}
.container-lerComentario .conteudos-comentarios p {
  flex-shrink: 1;
  font-size: 14pt;
  word-wrap: break-word;
  white-space: break-spaces;
  margin-top: -20px;
}
.footer-comentarA {
  display: flex;
  position: relative;
  width: 100%;
  background-color: #000;
  padding: 4px 0px 10px 0px;
}

.div-comentar {
  width: 100%;
  padding: 0px;
}
.footer-comentarA .comentarA {
  display: flex;
  width: 50%;
  margin-left: 3px;
  height: 80px;
  resize: none;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  font-size: 14pt;
}
.container-lerComentario .div-publicacao {
  display: flex;
}

.container-lerComentario .container-emoji {
  position: absolute;
  margin-left: 72%;
  margin-top: 20px;
}

.feicharEmoji {
  display: none;
}
.abrirEmoji {
  position: fixed;
  left: 200px;
  bottom: 70px;
}
.div-icon {
  /* position: absolute; */
  margin-top: 20px;
  cursor: pointer;
  margin-left: 10px;
}
@media (max-width: 740px) {
  .footer-comentarA {
    padding-bottom: 10px;
    padding-top: 4px;
  }
  .footer-comentarA .comentarA {
    width: 50%;
    margin-left: 3px;
    height: 80px;
    resize: none;
    padding: 5px;
    background-color: #000;
    color: #fff;
    font-size: 14pt;
  }
  .container-lerComentario .container-emoji {
    display: none;
    position: absolute;
    margin-left: 57%;
    margin-top: 42px;
  }
}

@media (max-width: 500px) {
  .footer-comentarA {
    padding-bottom: 10px;
    padding-top: 4px;
  }
  .footer-comentarA .comentarA {
    width: 50%;
    margin-left: 3px;
    height: 80px;
    resize: none;
    padding: 5px;
    background-color: #000;
    color: #fff;
    font-size: 14pt;
  }
  .container-lerComentario .container-emoji {
    position: absolute;
    margin-left: 57%;
    margin-top: 42px;
  }
  .div-icon {
    margin-top: 42px;
    cursor: pointer;
  }
  .container-lerComentario .conteudos-comentarios {
    width: 100%;
  }
  .container-lerComentario .publicacao-comentarios {
    padding: 0px;
    font-size: 14pt;
  }
  .container-lerComentario .publicacao-comentarios .publicacao_user {
    width: 93%;
    font-size: 14pt;
    right: 0;
  }
}

@media (max-width: 324px) {
  .footer-comentarA .div-comentar .abrirEmoji {
    width: 40%;
    left: 0;
  }
}
