.dadosMenu {
  display: flex;
  width: 100%;
}
.dadosMenu ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 10px 0px 0px 4px;
}
.dadosMenu ul .li {
  display: flex;
  width: 100%;
  color: #000;
  font-weight: 200;
  height: 30px;
  text-align: center;
  padding: 0px 0px 0px 10px;
  align-items: center;
  gap: 10px;
  font-size: 11pt;
}
.dadosMenu ul a {
  display: flex;
  width: 100%;
  color: #000;
  font-weight: 200;
  opacity: 1;
  position: relative;
}
.dadosMenu ul a .isProp,
.isReco,
.isRecurso,
.isExame,
.isLince,
.isCadeira,
.isNota,
.isSem,
.isPF,
.isMat,
.isInsc {
  background-color: #f1cfda;
  display: flex;
  width: 90%;
  color: #000;
  font-weight: 900;
  height: 30px;
  text-align: center;
  padding: 0px 0px 0px 10px;
  align-items: center;
  gap: 10px;
  opacity: 1;
  font-size: 11pt;
}

.dadosMenu ul a li:hover {
  background-color: #f7e4ea;
  color: #000;
  font-weight: 200;
  opacity: 1;
  font-size: 11pt;
}
.dadosMenu ul a .isProp::before,
.isReco::before,
.isRecurso::before,
.isExame::before,
.isLince::before,
.isCadeira::before,
.isNota::before,
.isSem::before,
.isPF::before,
.isInsc::before,
.isMat::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #a31543;
  left: 0;
}
