@import "../../../../../../style/variable.scss";
.container-buscar {
  display: flex;
  width: 100%;
  margin: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid $rosa;
  border-right: 1px solid $rosa;
  border-bottom: 1px solid $rosa;
  padding-bottom: 20px;
  margin-top: 10px;
}
.container-buscar .form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container-buscar .pesquisa {
  display: flex;
  width: 100%;
  background-color: $rosa;
  justify-content: center;
  align-items: center;
  padding: 7px 0px;
}
.container-buscar table {
  width: 100%;
}
.container-buscar th {
  background-color: #000;
  border: none;
}
.container-buscar td {
  font-size: 11pt;
  border: none;
  text-align: center;
}

.atualizarPropina .pagamento-propina input {
  border: 2px solid $rosa;
  border-radius: 10px;
  padding: 10px;
}
.atualizarPropina .pagamento-propina input::placeholder {
  font-size: 12pt;
}
