@import "../../../../../../../style/variable.scss";
.container-atroso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.container-atroso .formBir {
  display: flex;
  width: 98%;
  margin: auto;
  background-color: #a31543;
  padding: 10px 0px;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  margin: auto;
}
.container-atroso .imprimir {
  display: flex;
  width: 100px;
  padding: 10px;
  background-color: #a31543;
  position: fixed;
  right: 20px;
  bottom: 10px;
  border-radius: 20px;
  gap: 10;
  cursor: pointer;
}
.container-atroso .imprimir span {
  color: #fff;
  margin-left: 5px;
}
.container-atroso hr {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cc {
  display: flex;
  margin: auto;
}
.container-atroso h1,
h2 {
  color: #a31543;
  margin-bottom: 20px;
}
.container-atroso h1,
input,
select {
  margin-bottom: 10px;
}
.container-atroso select {
  width: 130px;
  height: 30px;
  font-size: 14pt;
  margin-right: 10px;
  margin-left: 10px;
  border: 2px solid #a31543;
  /* margin-top: 20px; */
}
.container-atroso label {
  display: flex;
  font-size: 12pt;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.search {
  width: 300px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
  color: #000;
}
.container-atroso input::placeholder {
  margin-left: 20px;
  font-size: 14pt;
}
.container-atroso .dados-estudante {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: auto;
  margin-top: 10px;
}
.container-atroso .opcoes label {
  display: flex;
  flex-direction: column;
  font-size: 14pt;
  align-items: center;
  margin-bottom: 20px;
}

.container-atroso .input {
  width: 80%;
  padding: 3px;
  margin-bottom: 10px;
  font-size: 14pt;
}

.container-atroso .btnadeira {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 50%;
  border: none;
  color: #fff;
  background-color: #a31543;
  font-size: 14pt;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  opacity: 0.8;
  padding: 10px 0px;
}
.container-atroso .btnadeira:hover {
  opacity: 1;
}
.container-atroso .opcoes {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}
@media (max-width: 800px) {
  .container-atroso .opcoes {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: inherit;
    margin-top: 0px;
  }
  label {
    display: flex;
    font-size: 12pt;
    flex-direction: column;
  }
  select {
    width: 130px;
    height: 30px;
    font-size: 14pt;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    border: 2px solid #a31543;
    /* margin-top: 20px; */
  }
}
