@import "../../../../../../style/variable.scss";
.atualizarPropinas {
  display: flex;
  width: 97%;
  margin-top: 40px;
  margin-left: 20px;
}
.atualizarPropinas .opcoes {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0px;
}
.atualizarPropinas .formBiPropina {
  display: flex;
  width: 100%;
  gap: 40px;
  padding: 20px 0px;
}
.atualizarPropinas th {
  background-color: $rosa;
  border: none;
}
.atualizarPropinas td {
  font-size: 11pt;
  border: none;
  text-align: center;
}
.atualizarPropinas .pagamento-propina {
  display: flex;
  width: 50%;
  margin: auto;
  align-items: center;
  margin-top: 20px;
}

.atualizarPropinas .opcoes .cc {
  width: 50%;
  align-items: center;
  color: $white;
}
