@import "../../../../../../style/variable.scss";
.atualizarPropinas {
  display: flex;
  width: 98%;
  margin-top: 40px;
  border: 1px solid $rosa;
  margin-left: 20px;
}
.atualizarPropinas .opcoes {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0px;
}
.atualizarPropinas .formBi {
  display: flex;
  background-color: $rosa;
  padding: 10px 0px;
}
.atualizarPropinas th {
  background-color: $rosa;
  border: none;
}
.atualizarPropinas td {
  font-size: 11pt;
  border: none;
  text-align: center;
}
.atualizarPropinas .pagamento-propina {
  display: flex;
  width: 50%;
  margin: auto;
  align-items: center;
  margin-top: 20px;
}

.atualizarPropinas .pagamento-propina input {
  border: 2px solid $rosa;
  border-radius: 10px;
  padding: 10px;
}
.atualizarPropinas .pagamento-propina input::placeholder {
  font-size: 12pt;
}
.atualizarPropinas .opcoes .cc {
  width: 50%;
  align-items: center;
  color: $white;
}
