.menuRelatorio {
  display: flex;
  width: 100%;
}
.menuRelatorio ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0px;
}
.menuRelatorio ul .li {
  display: flex;
  width: 100%;
  color: #000;
  font-weight: 200;
  height: 30px;
  text-align: center;
  padding: 0px 0px 0px 10px;
  align-items: center;
  gap: 10px;
  font-size: 11pt;
}
.menuRelatorio ul a {
  display: flex;
  width: 100%;
  color: #000;
  font-weight: 200;
  opacity: 1;
  position: relative;
}
.menuRelatorio ul a .isEme,
.isReco,
.isRecurso,
.isExame,
.isLince,
.isCadeira,
.isNota,
.isSem,
.reIns,
.reMa {
  background-color: #f1cfda;
  display: flex;
  width: 100%;
  color: #000;
  font-weight: 200;
  height: 30px;
  text-align: center;
  padding: 0px 0px 0px 10px;
  align-items: center;
  gap: 10px;
  opacity: 1;
  font-size: 11pt;
}

.menuRelatorio ul a li:hover {
  background-color: #f7e4ea;
  color: #000;
  font-weight: 200;
  opacity: 1;
  font-size: 11pt;
}
.menuRelatorio ul a .isEme::before,
.isRlr::before,
.isRrm::before,
.isExame::before,
.isLince::before,
.isCadeira::before,
.isNota::before,
.reIns::before,
.isSem::before,
.reMa::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #a31543;
  left: 0;
}
