@import "../../../../../style/variable.scss";
.container-reconfirmacao {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container-reconfirmacao .container-reconfirmacao {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: auto;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

.form {
  width: 100%;
  margin: auto;
}

.container-reconfirmacao hr {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-reconfirmacao .opcoesReconfirmacao label {
  display: flex;
  font-size: 12pt;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 9px;
}

.container-reconfirmacao .dados-estudanteReconfirmacao {
  display: flex;
  width: 99%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  gap: 20px;
}
label {
  font-size: 14;
  font-weight: 500;
}

.container-reconfirmacao .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 30%;
  padding: 20px;
  border: none;
  color: #fff;
  background-color: #a31543;
  font-size: 14pt;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  opacity: 0.8;
}

@media (max-width: 800px) {
  label {
    display: flex;
    font-size: 12pt;
    flex-direction: column;
  }
}
