.RelatorioListaRecurso {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.RelatorioListaRecurso table {
  margin: auto;
  width: 90%;
}
.RelatorioListaRecurso table td,
th {
  border: none;
  border-bottom: 1px solid #000;
}
label {
  color: #000;
}
.divLista {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.divLista div {
  display: flex;
  gap: 20px;
}
.divLista button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a31543;
  padding: 10px;
  font-size: 14pt;
}
