@import "../../../../../../style/variable.scss";

.curso {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.curso form {
  display: flex;
  flex-direction: column;
}
.curso form button {
  display: flex;
  width: 50%;
  padding: 10px;
  font-size: 14pt;
  color: $white;
  margin: auto;
  background-color: $rosa;
  text-align: center;
  justify-content: center;
  border: none;
  border-radius: 7px;
  gap: 4px;
}
