* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "rob";
  src: url("../public/fonts/Adine\ Kirnberg.ttf");
}
span,
h1,
h2,
h3,
h4,
input,
label {
  font-family: Arial, Helvetica, sans-serif;
}
input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
}
li {
  font-family: cursive;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffff;
  opacity: 0.7;
  cursor: pointer;
  opacity: 1;
}
.LinkFechar {
  border: 1px solid #a31543;
  color: #a31543;
  padding: 10px;
  border-radius: 10px;
}
.LinkFechar:hover {
  background-color: #a31543;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.opacity {
  opacity: 0.1;
}
table {
  border-collapse: collapse;
}
table th,
td {
  border: 1px solid #000;
}
table td {
  text-align: left;
  padding-left: 3px;
}
