@import "../../../../../../../../style/variable.scss";

.extra div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.extra {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: auto;
}

.relatorioReconformacao {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding-bottom: 20px;
  overflow-y: auto;
}
.relatorioReconformacao .opcoes {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 96%;
  padding: 10px;
  z-index: 3;
}
.relatorioReconformacao .h2 {
  margin-top: 20px;
}

.relatorioReconformacao .closed:hover {
  padding: 2px;
  background-color: $sizaclaro;
  border-radius: 50%;
}
.relatorioReconformacao .closed {
  padding: 2px;
  background-color: $siza;
  border-radius: 50%;
}
.tabelaReconfirmacao {
  display: flex;
  margin-top: 40px;
}
.tabelaReconfirmacao div {
  width: 70%;
}
.tabelaReconfirmacao table {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  margin-top: 20px;
}
.tabelaReconfirmacao .assinar {
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}
.tabelaReconfirmacao .assinar div {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.tabelaReconfirmacao hr {
  border-top: 2px solid #000;
  width: 90%;
  margin: auto;
  margin-top: 40px;
}
.tabelaReconfirmacao th {
  background-color: #a31543;
  border: none;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.tabelaReconfirmacao .estudante {
  border: none;
  border-bottom: 1px solid #ddd;
}
.tabelaReconfirmacao td {
  background-color: #fff;
  color: #000;
  border: none;
  border: 1px solid #000;
  text-align: left;
}
.relatorioReconformacao .opcoes a {
  color: #a31543;
  opacity: 1;
  position: relative;
  padding: 0px;
  margin: auto;
  top: -10px;
}

.relatorioReconformacao .imprimirReconfirmacao {
  display: flex;
  padding-top: 5px;
  align-items: center;
  justify-content: center;
}
.relatorioReconformacao .imprimirReconfirmacao .linkImprimir {
  display: flex;
  background-color: #a31543;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: 40px;
  gap: 10px;
}
.LinkFechar {
  display: flex;
  color: red;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  gap: 10px;
}
.LinkFechar:hover {
  display: flex;
  background-color: red;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
}
.relatorioReconformacao img {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
}
.relatorioReconformacao .tipo {
  display: flex;
  margin-top: 30px;
  margin: auto;
}
.relatorioReconformacao .formBi {
  display: flex;
  width: 100%;
  background-color: #a31543;
  padding-top: 4px;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.relatorioReconformacao .form {
  width: 100%;
  margin: auto;
}
