@import "../../../../style/variable.scss";
.container-buscarEstudante {
  display: flex;
  width: 97%;
  margin: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  margin-top: 30px;
}
.container-buscarEstudante .form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container-buscarEstudante .pesquisaEstudante {
  display: flex;
  width: 100%;
  background-color: $rosa;
  justify-content: center;
  align-items: center;
  padding: 7px 0px;
}

.container-buscarEstudante .conteudo {
  width: 100%;
  margin: auto;
}
.container-buscarEstudante table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}

.container-buscarEstudante th,
td {
  padding: 2px;
  font-size: 11pt;
  text-align: center;
  padding-right: 20px;
  border: 1px solid #000;
}

@media (max-width: 800px) {
  .container-buscarEstudante {
    display: flex;
    width: 98%;
  }
}
