@import "../../../../style/variable.scss";
.container-cadastrar {
  display: flex;
  width: 100%;
  margin: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid $rosa;
  border-right: 1px solid $rosa;
  border-bottom: 1px solid $rosa;
  padding-bottom: 20px;
  margin-top: 10px;
}

.container-cadastrar .form label {
  display: flex;
}
.container-cadastrar form .novos {
  display: flex;
  width: 70%;
  justify-content: space-between;
  border: 1px solid $preto;
  padding: 10px;
  border-radius: 7px;
  align-items: center;
}
.container-cadastrar form .periodo div {
  display: flex;
  gap: 10px;
}
.container-cadastrar form div input {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.container-cadastrar form select {
  border: 1px solid $preto;
  font-size: 12pt;
  padding: 5px;
}

.container-cadastrar .pesquisa {
  display: flex;
  width: 100%;
  background-color: $rosa;
  justify-content: center;
  align-items: center;
  padding: 7px 0px;
  color: $white;
}

.container-cadastrar form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.container-cadastrar form fieldset {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  padding: 20px 0px;
  border-radius: 10px;
  margin-top: 20px;
}

.container-cadastrar .form-cad button:hover {
  opacity: 0.7;
  background-color: $rosa;
}
.container-cadastrar .form-cad button {
  width: 50%;
  padding: 5px;
  border: none;
  background-color: $rosa;
  color: $white;
  cursor: pointer;
  font-size: large;
}
.container-cadastrar .pesquisa select {
  width: 17%;
  border-radius: 10px;
  border: none;
  font-size: 13pt;
  padding: 5px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

@media (max-width: 500px) {
  .container-cadastrar form .novos {
    display: flex;
    width: 94%;
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .container-cadastrar {
    display: flex;
    width: 96%;
  }
  .container-cadastrar form input:not(input[type="radio"]) {
    width: 90%;
  }
  .container-cadastrar form .novos {
    display: flex;
    width: 90%;
  }
}
